---
export const prerender = true

import BaseLayout from '../../layouts/BaseLayout.astro'
---

<BaseLayout>
  <p class="">
    <span class="text-4xl text-white p-2 bg-red-800"
      >This is very secret information!</span
    >
  </p>
  <p class="text-lg pt-6">Omg so secret. Also this is pre-rendered.</p>
</BaseLayout>
