---
import BaseLayout from '../layouts/BaseLayout.astro'
---

<BaseLayout>
  <h1 class="text-4xl pb-8">Whoops, you need to login to visit this page!</h1>
  <p class="text-xl">
    Go back <a class="underline text-blue-500" href="/">home</a> to login.
  </p>
</BaseLayout>
